@use "../../shared/scss/" as *;

.collection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    width: fit-content;
    gap: 20px;

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
            > img{
                width: 390px;
                height: 270px;
            }

        &--small {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            > img {
                width: 120px;
                height: 100px;
            }
        }
    }
}
