@use "../../shared/scss/" as *;

.search {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;
  background-color: $white;
  border-radius: 32px;

  &__parameters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 400px;
    margin: 40px 32px;
    align-items: center;

    &--title {
      font-size: 24px;
      font-weight: 700;
      color: $darkblue;
    }

    &--buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 10px;
    }
    &--button {
      width: fit-content;
      height: 64px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 8px;
      border-color: $grey;
      background-color: $white;

      &.flip {
        background-color: $darkblue;
        padding: 16px;
        color: $white;
      }
    }
  }

  &__bar {
    display: flex;
    border: solid 1px $black;
    margin: 0px 32px 40px 32px;
    padding: 16px;
    align-items: center;
    border-radius: 8px;
    border-color: $grey;

    &--input {
      border: none;
      outline: none;
      padding-left: 8px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
